nav
{
    display: flex;
    justify-content: space-between;
}

nav img
{
    width: 10px;
}

ul
{
    display: flex;
    flex-direction: row;
}

li
{
    display: inline;
    padding: 10px;
}


main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


