.tableau
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.tableau div
{
    background-color: rgb(94, 212, 155);
    border: 2px solid rgb(79,185,227);
    padding: 10px;
}

.item1
{
    grid-column: 1/3;
}

body
{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding-top: 10px;
}
